
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Formulario</title>
</head>

<body>
    <div>
        <form action="/register/" method="post">
            {% if messages %}
                {% for mesage in messages %}
                    <strong>{{ mesaje }}</strong>
                {% endfor %}
            {% endif %}

            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Enviar" class="btn btn-primary">
            <input type="reset" value="Borrar" class="btn btn-danger">
        </form>
    </div>
</body>

</html>