<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estructura basica de un documento html</title>
</head>
<body>
    <pre style="font-size: xx-large;">
        El individuo nacido en el a&ntildeo {{f_na}},
        actualmente tien la edad de {{edad_a}} a&ntildeos 
        y en el a&ntildeo {{f_f}} tendra {{edad_f}} a&ntildeos de edad,
        el a&ntildeo actual es {{fecha_a}}...
        </pre>
</body>
</html>