{% load static %}

<footer>
    <div>
        <p>Nuestras redes sociales</p>
    </div>
    <div>
        <ul>
            <li><a href=""><img src="{% static 'img/red_social.png' %}" alt="">facebook</a></li>
            <li><a href=""><img src="{% static 'img/red_social.png' %}" alt="">facebook</a></li>
            <li><a href=""><img src="{% static 'img/red_social.png' %}" alt="">instagram</a></li>
            <li><a href=""><img src="{% static 'img/red_social.png' %}" alt="">twitter</a></li>
            <li><a href=""><img src="{% static 'img/red_social.png' %}" alt="">pinterest</a></li>
        </ul>
    </div>
   <p style="font-size: 15px;"> &copy;Pagina Django. Mision tic | 2021 </p>
</footer>