{% extends "base.html" %}
{% block title %} VideoGames {% endblock %}

{% block content %}  

<h3>Videos de algunos juegos</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/y7Ulq5dvTpo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1KsHgC76uv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
{% endblock %}