{% extends 'layout.html' %}

{% block title %} Home{% endblock %}
{% block content %}  
 
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Hola, Bienvenid@!!</h1>
        <p class="lead">Esta es una pagina de ejemplo implementando el Framework de trabajo Django </p>
        <hr class="my-4">
        <p>Ingresa y conoce mas sobre la pagina...</p>
        <a class="btn btn-primary btn-lg" href="/formulario/" role="button">INGRESAR!</a>
      </div>
</div>

{% endblock %}