{% extends "base.html" %}

{% block title %} Pagina Principal {% endblock %}


{% block content %}

<h3>Pagina Principal</h3>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam nemo tempora ad id. Esse delectus voluptatibus minima veritatis ducimus, eum dolore dolorem aut sint ut iste, qui, atque sequi eligendi.
</p>
    
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum tenetur, aperiam laborum commodi totam veniam minus non soluta. Eum ipsa sequi a rerum esse aliquid similique? Incidunt excepturi deleniti sint?</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, fuga doloremque non corrupti eius omnis nobis nulla inventore mollitia. Voluptates perferendis rerum impedit fuga libero maiores. Voluptas vero ex vel?</p>
    <br>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, ea dolore a reiciendis est voluptates libero neque ipsam nihil aliquid non obcaecati consequatur sit necessitatibus numquam culpa recusandae minima fuga.</p>
    <br>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/zBk-Hyv6ykw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
{% endblock %}

